<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/" class="text-dark">Home</a></li>
    <li class="breadcrumb-item"><a href="/books" class="text-dark">Books</a></li>
    <li class="breadcrumb-item active text-dark"  aria-current="page">Add</li>
  </ol>
<h1 class="text-center">Add Book</h1>

<div class="container">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <!-- Form -->
            <form #userForm="ngForm" *ngIf="!submitted" (ngSubmit)="addBook(userForm)" novalidate>
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>ISBN</label>
                      <input type="number" #isbn="ngModel" class="form-control" pattern="^\d{13}$" name="isbn" placeholder="ISBN" [(ngModel)]="bookModel.isbn" required>
                      <div *ngIf="isbn.errors && (isbn.invalid || isbn.touched)">
                        <small class="text-danger" *ngIf="isbn.errors['required']">ISBN number is required</small>
                        <small class="text-danger" *ngIf="isbn.errors['pattern']">ISBN number must be 13 digit</small>
                      </div>
                    </div>
                    <br/>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Name" [(ngModel)]="bookModel.name" required>
                  </div>
                  <br/>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Description</label>
                    <input type="text" class="form-control" name="description" placeholder="Description" [(ngModel)]="bookModel.description" required>
                  </div>
                  <br/>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Author Name</label>
                    <input type="text" class="form-control" name="authorName" placeholder="Author Name" [(ngModel)]="bookModel.authorName" required>
                  </div>
                  <br/>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Category</label>
                    <input type="text" class="form-control" name="category" placeholder="Category" [(ngModel)]="bookModel.category" required>
                  </div>
                  <br/>
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Quantity</label>
                    <input type="number" class="form-control" name="quantity" min="1" placeholder="Quantity" [(ngModel)]="bookModel.quantity" required>
                  </div>
                  <br/>
                  </div>
                <button type="submit" class="btn btn-dark"  [disabled]="userForm.form.invalid">Add Book</button>
              </form>
            <!-- Form end -->
            <div class="alert alert-success" role="alert" *ngIf="submitted">
              Book Added Successfully
              <br/>
             <a href="/books"> Click To View Book </a>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="errMsg">
              {{ errMsg }}
              <br/>
             <a href="/books"> Click To View Book </a>
            </div>
            <br/>
        </div>
    </div>
</div>